<div class="body">
    <div class="order-body">
        <div class="title">
            <h3>Make your order</h3>
        </div>
        <div class="coupon-form">
            <input type="text" [(ngModel)]="couponId" />
            <button (click)="checkCoupon()">Add discount</button>
        </div>
        <div class="order-form">
            <div class="hot-coffee">
                <p>Hot or cold?</p>
                <mat-radio-group [(ngModel)]="hotCoffee" aria-label="Hot or Cold">
                    <mat-radio-button [value]="true">Hot</mat-radio-button>
                    <mat-radio-button [value]="false">Cold</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="milk-count">
                <div class="milk-control">
                    <label for="milk-count">Milk: </label>
                    @if (this.milkCount < 1) {
                        <button color="primary" (click)="decrementMilk()" (click)="updatePrice()" disabled>-</button>
                    } @else {
                        <button color="primary" (click)="decrementMilk()" (click)="updatePrice()">-</button>
                    }
                    <input type="text" [(ngModel)]="milkCount" (keyup)="updatePrice()"/>
                    <button color="primary" (click)="incrementMilk()" (click)="updatePrice()">+</button>
                </div>
            </div>
            <div class="syrup-count">
                <div class="syrup-control">
                    <label for="syrup-count">Syrup: </label>
                    @if (this.milkCount < 1) {
                        <button color="primary" (click)="decrementSyrup()" (click)="updatePrice()" disabled>-</button>
                    } @else {
                        <button color="primary" (click)="decrementSyrup()" (click)="updatePrice()">-</button>
                    }
                    <input type="text" [(ngModel)]="syrupCount" (keyup)="updatePrice()"/>
                    <button color="primary" (click)="incrementSyrup()" (click)="updatePrice()">+</button>
                </div>
            </div>
            <div class="with-caffeine">
                <p>Caffeine?</p>
                <mat-radio-group [(ngModel)]="caffeine" aria-label="Caffeine">
                    <mat-radio-button [value]="true">Yes</mat-radio-button>
                    <mat-radio-button [value]="false">No</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="submit-button">
                <button mat-raised-button color="primary" (click)="orderCoffee()">Order!</button>
            </div>
        </div>
    </div>
</div>
