<div
  class="flex justify-center items-center -ml-16 h-[calc(100vh-64px)] max-lg:ml-0"
>
  <div class="border-slate-200 border p-12 shadow-2xl">
    <h1 class="text-lg font-medium mb-4 text-center">Register</h1>

    <a
      (click)="onGoogleLogin()"
      class="flex items-center gap-5 mb-4 w-full border border-slate-400 rounded-2xl py-1 cursor-pointer hover:bg-slate-200"
    >
      <img
        src="https://cdn1.iconfinder.com/data/icons/google-s-logo/150/Google_Icons-09-512.png"
        alt="Google Logo"
        class="w-10 h-10"
      />
      <p>Sign in with Google</p>
    </a>

    <div class="flex items-center my-4">
      <hr class="flex-grow border-t border-slate-300" />
      <span class="px-4 text-slate-500 text-sm">or</span>
      <hr class="flex-grow border-t border-slate-300" />
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col">
      <mat-form-field class="w-64" appearance="fill">
        <mat-label>Username</mat-label>
        <input
          required
          matInput
          type="text"
          placeholder="Username"
          formControlName="username"
        />
        <mat-error *ngIf="form.get('username')?.hasError('required')">
          Username is required.
        </mat-error>
        <mat-error *ngIf="form.get('username')?.hasError('pattern')">
          Username can only contain letters, numbers, and underscores.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>E-mail</mat-label>
        <input
          required
          matInput
          type="text"
          placeholder="Email"
          formControlName="email"
        />
        <mat-error *ngIf="form.get('email')?.hasError('required')">
          Email is required.
        </mat-error>
        <mat-error *ngIf="form.get('email')?.hasError('email')">
          Please enter a valid email address.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input
          required
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          placeholder="Password"
          formControlName="password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hidePassword = !hidePassword"
          [attr.aria-label]="'Hide or reveal password'"
          [attr.aria-pressed]="!hidePassword"
        >
          <mat-icon class="text-slate-600!">{{
            hidePassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        <mat-error *ngIf="form.get('password')?.hasError('required')">
          Password is required.
        </mat-error>
        <mat-error *ngIf="form.get('password')?.hasError('minlength')">
          Password must be at least 8 characters long.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          [type]="hideConfirmPassword ? 'password' : 'text'"
          formControlName="confirmPassword"
          placeholder="Confirm your password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hideConfirmPassword = !hideConfirmPassword"
          [attr.aria-label]="'Hide or reveal confirm password'"
          [attr.aria-pressed]="!hideConfirmPassword"
        >
          <mat-icon class="text-slate-600!">{{
            hideConfirmPassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        <mat-error *ngIf="form.get('confirmPassword')?.hasError('required')">
          Confirm Password is required.
        </mat-error>
        <mat-error *ngIf="form.hasError('passwordMismatch')">
          Passwords do not match.
        </mat-error>
      </mat-form-field>
      <button mat-button class="bg-blue-400! text-white!" type="submit">
        Sign Up
      </button>
    </form>
    <!-- @if (errorMessage) {
    <p class="text-red-500 text-center mt-4 break-words max-w-60">
      {{ errorMessage }}
    </p>
    } -->
    <p class="mt-4 text-sm text-center text-slate-600">
      Already have an account?
      <a class="hover:underline text-blue-600" routerLink="/login">Sign in</a>
    </p>
  </div>
</div>
