<app-header [drawer]="drawer"></app-header>
<div class="body">
    <mat-drawer-container autosize >
        <mat-drawer #drawer mode="over">
            <div class="sidebar-group">
                <button mat-fab extended [routerLink]="['/home']" (click)="closeDrawerOnNavigation()">
                    <mat-icon fontIcon="home"></mat-icon>
                    <span>Home</span>
                </button>
                <button mat-fab extended [routerLink]="['/invoices']" (click)="closeDrawerOnNavigation()">
                    <mat-icon fontIcon="assignment_ind"></mat-icon>
                    <span>Invoices</span>
                </button>
                <button mat-fab extended [routerLink]="['/products']" (click)="closeDrawerOnNavigation()">
                    <mat-icon fontIcon="account_balance"></mat-icon>
                    <span>Products</span>
                </button>
            </div>
        </mat-drawer>
        <div class="main-content">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-container>
</div>