<div class="h-full flex justify-center items-center -ml-16">
  <div class="border-slate-200 border p-12 shadow-2xl">
    <h1 class="text-lg font-medium mb-4">Login</h1>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col">
      <mat-form-field class="w-64" appearance="fill">
        <mat-label>E-mail</mat-label>
        <input
          required
          matInput
          type="text"
          placeholder="Email"
          formControlName="email"
        />
        <mat-error *ngIf="form.get('email')?.hasError('required')"
          >email is required</mat-error
        >
      </mat-form-field>
      <mat-form-field class="w-64" appearance="fill">
        <mat-label>Password</mat-label>
        <input
          required
          matInput
          type="password"
          placeholder="Password"
          formControlName="password"
        />
        <mat-error *ngIf="form.get('password')?.hasError('required')"
          >Password is required</mat-error
        >
      </mat-form-field>
      <button mat-button class="bg-blue-400! text-white!" type="submit">
        Sign In
      </button>
    </form>
    @if (errorMessage) {
    <p class="text-red-500 text-center mt-4 break-words max-w-60">
      {{ errorMessage }}
    </p>
    }
  </div>
</div>
