<div class="relative text-center mb-4">
  <h1
    class="text-3xl font-bold absolute inset-0 flex items-center justify-center text-white z-15"
  >
    ABOUT US
  </h1>
  <div
    class="w-full h-78 absolute inset-0 bg-black opacity-50 rounded-lg z-10"
  ></div>
  <img
    src="https://i.imgur.com/YV2emNC.jpeg"
    class="w-full h-78 rounded-lg object-cover relative z-0"
    alt="About Us"
  />
</div>

<div class="flex flex-wrap justify-center items-center">
  @for (dev of devs; track $index) {
  <div
    class="bg-slate-50 p-4 rounded-md shadow-2xl m-2 flex justify-center items-center flex-col max-w-52"
  >
    <img
      class="rounded-full w-20 pb-2"
      src="{{ dev.image }}"
      alt="{{ dev.name }}"
    />
    <h2 class="font-black">{{ dev.name }}</h2>
    <a
      [href]="dev.github"
      target="_blank"
      class="text-sm truncate block w-full overflow-hidden whitespace-nowrap"
      >{{ dev.github }}</a
    >
  </div>
  }
</div>
