/* .buttons-input-container {
    border: 1px solid hsl(0, 0%, 37%);
    border-radius: 5px;
    padding: 10px 0;
}

.buttons-input-container button {
    padding: 0 15px;
    font-size: 18px;
    cursor: pointer;
}

.buttons-input-container input {
    border: none;
    outline: none;
    font-size: 18px;
} */
