<div class="flex gap-12 mb-4">
  <h1 class="text-3xl font-bold">Build your Favorite Drink</h1>
  <button
    mat-icon-button
    [matBadge]="totalCartItems"
    matBadgeColor="warn"
    matBadgeSize="large"
  >
    <mat-icon>shopping_cart</mat-icon>
  </button>
</div>
<div class="flex gap-4 mb-4">
  <button
    (click)="showForm('hot')"
    [ngClass]="{
      'bg-red-500': selectedType === 'hot',
      'bg-gray-600': selectedType !== 'hot'
    }"
    class="px-4 py-2 text-white rounded-lg"
  >
    Hot
  </button>
  <button
    (click)="showForm('cold')"
    [ngClass]="{
      'bg-blue-500': selectedType === 'cold',
      'bg-gray-600': selectedType !== 'cold'
    }"
    class="px-4 py-2 text-white rounded-lg"
  >
    Cold
  </button>
</div>

<div *ngIf="formVisible">
  <form class="bg-slate-50 w-80 rounded-lg p-4 flex flex-col justify-center">
    <h1 class="font-bold text-2xl mb-4" for="drink">{{ formLabel }}</h1>
    <div class="flex justify-around">
      <label for="milk">Milk $1</label>
      <div>
        <button
          [disabled]="milk === 0 ? true : false"
          type="button"
          (click)="decrement('milk')"
          class="px-2 bg-gray-300 rounded"
        >
          -
        </button>
        <input
          type="text"
          [value]="milk"
          maxlength="2"
          class="w-6 rounded-none text-center h-6 border"
        />
        <button
          type="button"
          (click)="increment('milk')"
          class="px-2 bg-gray-300 rounded"
        >
          +
        </button>
      </div>
    </div>
    <div class="flex justify-around">
      <label for="syrup">Syrup $0.50</label>
      <div>
        <button
          [disabled]="syrup === 0 ? true : false"
          type="button"
          (click)="decrement('syrup')"
          class="px-2 bg-gray-300 rounded"
        >
          -
        </button>
        <input
          type="text"
          [value]="syrup"
          maxlength="2"
          class="w-6 rounded-none text-center h-6 border"
        />
        <button
          type="button"
          (click)="increment('syrup')"
          class="px-2 bg-gray-300 rounded"
        >
          +
        </button>
      </div>
    </div>
    <div class="flex justify-around">
      <label for="caffeine">Caffeine $2</label>
      <div>
        <button
          [disabled]="caffeine === 0 ? true : false"
          type="button"
          (click)="decrement('caffeine')"
          class="px-2 bg-gray-300 rounded"
        >
          -
        </button>
        <input
          type="text"
          [value]="caffeine"
          maxlength="2"
          class="w-6 rounded-none text-center h-6 border"
        />
        <button
          type="button"
          (click)="increment('caffeine')"
          class="px-2 bg-gray-300 rounded"
        >
          +
        </button>
      </div>
    </div>
    <div class="mt-4">
      <mat-form-field class="w-48 h-[70px] mr-4" appearance="fill">
        <mat-label class="text-sm"> Add your Discount Code</mat-label>
        <input matInput type="text" #discountInput />
      </mat-form-field>
      <button
        class="bg-gray-300 rounde px-4 py-2 rounded hover:opacity-90 cursor-pointer"
        type="button"
        (click)="applyDiscount(discountInput.value)"
      >
        Apply
      </button>
    </div>
    <button
      type="button"
      class="mt-4 px-4 py-2 bg-blue-600 rounded text-white"
      (click)="orderSummary = true"
    >
      Order
    </button>
    <div *ngIf="orderSummary" class="mt-4 ml-10">
      <h3 class="font-bold">Order Summary:</h3>
      <p class="italic">Subtotal: $ {{ subTotal }}</p>
      <p class="italic">Tax: $ {{ tax }}</p>
      <p class="italic text-green-500" *ngIf="discountApplied">
        Discount Applied: $ {{ discount }}
      </p>
      <p class="text-xl">Total: $ {{ total }}</p>
    </div>
  </form>
</div>
