<div class="flex items-center justify-between mb-4">
  <div class="flex items-center gap-4">
    <h1 class="text-3xl font-bold">Build your Favorite Drink</h1>
  </div>

  <button mat-icon-button [matBadge]="totalCartItems">
    <mat-icon>shopping_cart</mat-icon>
  </button>
</div>

<div
  class="grid grid-cols-1 lg:grid-cols-2 gap-8 max-sm:w-85 max-sm:-ml-10 mb-5"
>
  <div>
    <mat-tab-group [(selectedIndex)]="selectedTabIndex" class="mb-4">
      <mat-tab label="Hot">
        <mat-card class="m-4 p-4">
          <h2 class="text-xl font-bold mb-4">Hot Drink</h2>

          <div class="flex justify-between items-center mb-2">
            <label for="milkHot" class="mr-2">Milk $1</label>
            <div class="buttons-input-container">
              <button
                mat-mini-fab
                class="max-sm:w-8! max-sm:h-8!"
                color="primary"
                [disabled]="milkHot === 0"
                (click)="decrementHot('milk')"
              >
                -
              </button>
              <input
                id="milkHot"
                type="text"
                [value]="milkHot"
                readonly
                class="w-10 text-center mx-2 border"
              />
              <button
                mat-mini-fab
                class="max-sm:w-8! max-sm:h-8!"
                color="primary"
                (click)="incrementHot('milk')"
              >
                +
              </button>
            </div>
          </div>

          <div class="flex justify-between items-center mb-2">
            <label for="syrupHot" class="mr-2">Syrup $0.50</label>
            <div>
              <button
                mat-mini-fab
                class="max-sm:w-8! max-sm:h-8!"
                color="primary"
                [disabled]="syrupHot === 0"
                (click)="decrementHot('syrup')"
              >
                -
              </button>
              <input
                id="syrupHot"
                type="text"
                [value]="syrupHot"
                readonly
                class="w-10 text-center mx-2 border"
              />
              <button
                mat-mini-fab
                class="max-sm:w-8! max-sm:h-8!"
                color="primary"
                (click)="incrementHot('syrup')"
              >
                +
              </button>
            </div>
          </div>

          <div class="flex justify-between items-center mb-2">
            <label for="caffeineHot" class="mr-2">Caffeine $2</label>
            <div>
              <button
                mat-mini-fab
                class="max-sm:w-8! max-sm:h-8!"
                color="primary"
                [disabled]="caffeineHot === 0"
                (click)="decrementHot('caffeine')"
              >
                -
              </button>
              <input
                id="caffeineHot"
                type="text"
                [value]="caffeineHot"
                readonly
                class="w-10 text-center mx-2 border"
              />
              <button
                mat-mini-fab
                class="max-sm:w-8! max-sm:h-8!"
                color="primary"
                (click)="incrementHot('caffeine')"
              >
                +
              </button>
            </div>
          </div>
        </mat-card>
      </mat-tab>

      <mat-tab label="Cold">
        <mat-card class="m-4 p-4">
          <h2 class="text-xl font-bold mb-4">Cold Drink</h2>

          <div class="flex justify-between items-center mb-2">
            <label for="milkCold" class="mr-2">Milk $1</label>
            <div>
              <button
                mat-mini-fab
                class="max-sm:w-8! max-sm:h-8!"
                color="primary"
                [disabled]="milkCold === 0"
                (click)="decrementCold('milk')"
              >
                -
              </button>
              <input
                id="milkCold"
                type="text"
                [value]="milkCold"
                readonly
                class="w-10 text-center mx-2 border"
              />
              <button
                mat-mini-fab
                class="max-sm:w-8! max-sm:h-8!"
                color="primary"
                (click)="incrementCold('milk')"
              >
                +
              </button>
            </div>
          </div>

          <div class="flex justify-between items-center mb-2">
            <label for="syrupCold" class="mr-2">Syrup $0.50</label>
            <div>
              <button
                mat-mini-fab
                class="max-sm:w-8! max-sm:h-8!"
                color="primary"
                [disabled]="syrupCold === 0"
                (click)="decrementCold('syrup')"
              >
                -
              </button>
              <input
                id="syrupCold"
                type="text"
                [value]="syrupCold"
                readonly
                class="w-10 text-center mx-2 border"
              />
              <button
                mat-mini-fab
                class="max-sm:w-8! max-sm:h-8!"
                color="primary"
                (click)="incrementCold('syrup')"
              >
                +
              </button>
            </div>
          </div>

          <div class="flex justify-between items-center mb-2">
            <label for="caffeineCold" class="mr-2">Caffeine $2</label>
            <div>
              <button
                mat-mini-fab
                class="max-sm:w-8! max-sm:h-8!"
                color="primary"
                [disabled]="caffeineCold === 0"
                (click)="decrementCold('caffeine')"
              >
                -
              </button>
              <input
                id="caffeineCold"
                type="text"
                [value]="caffeineCold"
                readonly
                class="w-10 text-center mx-2 border"
              />
              <button
                mat-mini-fab
                class="max-sm:w-8! max-sm:h-8!"
                color="primary"
                (click)="incrementCold('caffeine')"
              >
                +
              </button>
            </div>
          </div>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div>
    <mat-card class="mx-4 p-4">
      <h2 class="font-bold text-xl mb-4">Apply Discount</h2>
      <div class="flex items-end gap-4 mb-4">
        <mat-form-field appearance="fill" class="w-1/2">
          <mat-label>Discount Code</mat-label>
          <input matInput #discountInput />
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          (click)="applyDiscount(discountInput.value)"
        >
          Apply
        </button>
      </div>

      <h2 class="font-bold text-xl mb-4">Order Summary</h2>
      <p class="mb-1">Subtotal: $ {{ subTotal }}</p>
      <p class="mb-1">Tax: $ {{ tax }}</p>
      @if (discountApplied) {
      <div class="text-green-600 mb-4">Discount Applied: ${{ discount }}</div>
      }
      <p class="text-xl font-semibold">Total: $ {{ total }}</p>

      <button
        mat-button
        color="accent"
        class="mt-4 bg-blue-600! text-slate-50!"
        (click)="placeOrder()"
      >
        Order
      </button>

      @if (orderNumber) {
      <div class="mt-4">
        <p class="font-bold text-green-700">
          Order #{{ orderNumber }} placed successfully!
        </p>
      </div>
      }
    </mat-card>
  </div>
</div>
